.correct {
    color:rgb(0, 0, 0);
    background-color:rgb(40, 223, 16);
    border:3px solid rgb(2, 2, 0);
    border-radius:5px;
    margin: 5px 0;
    padding: 0 15px;
    position:relative;
}

.wrong {
    color:rgb(255, 255, 255);
    background-color:rgb(255, 0, 0);
    border:3px solid rgb(2, 2, 0);
    border-radius:5px;
    margin: 5px 0;
    padding: 0 15px;
    position:relative;
}

.quiz-message {
    color: rgb(0, 0, 0);
    text-align: center;
    border:3px solid rgb(2, 2, 0);
    background-color:rgb(224, 220, 8);
    border-radius:5px;
    margin: 10px 0;
    padding: 0 15px;
    position:relative;
}
.quiz-message-close {
    position:absolute;
    top: 3px;
    right: 10px;
}

body {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(224, 220, 8);
    background-color:rgb(75, 1, 1); 
}

h1 {
    font-size: 40px;
    text-align: center;
    border:3px solid rgb(255, 255, 0);
    background-color:rgb(199, 0, 0);
    margin: auto;
    width: 50%;
    padding: 15px;
}

h2 {
   font-size: 28px;
   text-align: center;
   margin: auto;
   width: 50%;
   padding: 10px;
}

h4 {
   font-size: 20px;
   text-align: justify;
   margin: auto;
   width: 50%;
   padding: 10px;
}

li {
    font-size: 20px;
    width: 45%;
    margin: auto;
}

iframe {
    border:3px solid rgb(255, 255, 0);
    margin: 0 auto;
    display: block;
}