<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinedesweb - v2</title>
    <link rel="stylesheet" href="style.css" /> 
</head>

<body>
    <nav>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
        </ul>
    </nav>

    <main>
        <h2 class="title">Inserir novo filme</h2>
        <hr/>

        <div id="status">
            <span id="errorMsg"></span> <!--red-->
            <span id="successMsg"></span> <!--blue-->
        </div> 

        <section><form>
            <input type="hidden" name="id"/>
            Título: <input type="text" name="title" id="title"/>
            Gênero: <select name="genre" id="genre">
                <option value="0">-- ATRIBUIR --</option>
            </select>
            Avaliação: <input type="number" min="0" max="10" step="0.1" name="rating" id="rating"/>
            <input type="submit" value="Enviar" id="send"/>
            <input type="reset" value="Limpar"/>
        </form></section>
        <br/>
    </main>

    <footer>
        <hr/>
        Todos os direitos reservados
    </footer>

    <script src="js/ajax.js"></script>
    <script src="js/insert.js"></script>
</body>
</html>