p {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#profile {
    background-image: url("./img/background.jpg");
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.profile-icon {
    height: 100%;
    max-width: auto;
    border: 3px solid #101010;
    border-radius: 50%;
}

.whiteTitles {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}

.whiteSubtitles {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 15px;
    color: #ffffff !important;
    margin-top: 30px;
}

.greyParagraph {
    color: #828282 !important;
}

.greyContrast {
    color: #908E8F !important;
    font-weight: bold;
}

.whiteContrast {
    color: #ffffff !important;
    font-weight: bold;
}

.jumbotron {
    margin-bottom: 0px;
}

.btn-group {
    float: right;
    position: static;
    margin-top: 70px;
    margin-right: 10px;
}

.text-muted {
    float: right;
    position: static;
    margin-top: 79px;
    margin-right: 15px;
    font-size: 10px;
}

.project-text {
    color: #828282 !important;
    float: left;
    position: static;
    margin-right: 50px;
}

.footer-text  {
    margin: 0px; 
    padding-top: 15px;
    font-weight: bold; 
    padding-bottom: 15px;
    color: white !important;
    text-align: center;
}

.skills {
    margin: auto;
    width: 50%;
    padding-top: 20px;
    columns: 3; 
    border-radius: 2%;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

p {
    color: black !important;
}

.primaryColor {
    background-color: #000000;
}

.secondaryColor {
    background-color: #101010;
}

.menuItem {
    color: white;
}

@media only screen and (max-width: 700px) {
    .btn-group {
        margin-top: 0;
        margin-right: 10px;
    }
    
    .text-muted {
        margin-top: 9px;
        margin-right: 10px;
    }

    .skills {
        width: 100%;
        border-radius: 2%;
        font-size: 14px;
    }

    .project-text {
        margin-right: 50px;
        padding-bottom: 20px;
    }
}